IVServiceWatchdog/Service References/InterventionService/DTM.WCF.InterventionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTM.WCF.InterventionService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTM.WCF.InterventionService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfInterventionDefination">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InterventionDefination" nillable="true" type="tns:InterventionDefination" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInterventionDefination" nillable="true" type="tns:ArrayOfInterventionDefination" />
  <xs:complexType name="InterventionDefination">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descriptpion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InterventionGroupName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParameterList" nillable="true" type="tns:ArrayOfParameterDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InterventionDefination" nillable="true" type="tns:InterventionDefination" />
  <xs:complexType name="ArrayOfParameterDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ParameterDefinition" nillable="true" type="tns:ParameterDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParameterDefinition" nillable="true" type="tns:ArrayOfParameterDefinition" />
  <xs:complexType name="ParameterDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" name="AutoCompleteAction" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AutoCompleteList" nillable="true" type="q1:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GetMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParameterType" type="tns:DataType" />
      <xs:element minOccurs="0" name="Required" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParameterDefinition" nillable="true" type="tns:ParameterDefinition" />
  <xs:simpleType name="DataType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="String" />
      <xs:enumeration value="Boolean" />
      <xs:enumeration value="Int32" />
      <xs:enumeration value="Double" />
      <xs:enumeration value="DateTime" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DataType" nillable="true" type="tns:DataType" />
  <xs:complexType name="ArrayOfInterventionedObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InterventionedObject" nillable="true" type="tns:InterventionedObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInterventionedObject" nillable="true" type="tns:ArrayOfInterventionedObject" />
  <xs:complexType name="InterventionedObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="ObjectDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObjectID" type="xs:int" />
      <xs:element minOccurs="0" name="ObjectLabel" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InterventionedObject" nillable="true" type="tns:InterventionedObject" />
  <xs:complexType name="Intervention">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObjectID" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parameters" nillable="true" type="q2:ArrayOfKeyValueOfstringanyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Intervention" nillable="true" type="tns:Intervention" />
</xs:schema>